@page
@model ClubMembership.Pages.President.Activities.IndexModel

@{
    ViewData["Title"] = "Club";
}
<h1>Activities</h1>
<p>
    <a asp-page="Create" class="btn btn-success">Add activity</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ClubActivity[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClubActivity[0].Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClubActivity[0].StartAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClubActivity[0].EndAt)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.ClubActivity) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndAt)
            </td>
            <td>
                <a asp-page="./Details" asp-route-id="@item.Id" class="btn btn-primary">Details</a>
                    <a asp-page="./Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
@{
    var paginationResult = Model.PaginationResult;
    var previous = paginationResult.PageIndex == 0 ? 0 : paginationResult.PageIndex - 1;
    var next = paginationResult.PageIndex == paginationResult.TotalPages - 1 ? paginationResult.TotalPages - 1 : paginationResult.PageIndex + 1;
}
<nav aria-label="Page navigation example">
    <ul class="pagination">
        @if (paginationResult.PageIndex == 0)
        {
            <li class="page-item disabled"><a class="page-link">Previous</a></li>
        }
        else
        {
            <li class="page-item"><a class="page-link" asp-page="Index" asp-route-pageIndex="@previous">Previous</a></li>
        }
        @for (int i = 0; i < paginationResult.TotalPages; i++)
        {
            int pageCount = i + 1;
            @if (pageCount == paginationResult.PageCount)
            {
                <li class="page-item active">
                    <a class="page-link" asp-page="Index" asp-route-pageIndex="@i">@pageCount</a>
                </li>
            }
            else
            {
                <li class="page-item">
                    <a class="page-link" asp-page="Index" asp-route-pageIndex="@i">@pageCount</a>
                </li>
            }
        }
        @if (paginationResult.PageIndex == paginationResult.TotalPages - 1)
        {
            <li class="page-item disabled"><a class="page-link">Next</a></li>
        }
        else
        {
            <li class="page-item"><a class="page-link" asp-page="Index" asp-route-pageIndex="@next">Next</a></li>
        }
    </ul>
</nav>